body{
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  height: 32px;
  background-color: black;
}

.content{
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 100px 100px;
}

.footer{
  height: 32px;
  background-color: black;
}